@import '@styles/variables.scss';

.address-selector {
  .address-item {
    padding: $spacing-md;
    border: 1px solid $border-color;
    border-radius: $radius-md;
    margin-bottom: $spacing-sm;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      border-color: $primary-color;
      background-color: $bg-tertiary;
    }

    &.selected {
      border-color: $primary-color;
      background-color: lighten($primary-color, 45%);
    }

    .address-content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .ant-radio-wrapper {
        flex: 1;
      }

      .recipient-name {
        font-weight: $font-semibold;
        color: $text-primary;
      }

      .phone {
        color: $text-secondary;
      }

      .address-detail {
        color: $text-secondary;
        font-size: $font-sm;
        margin-top: $spacing-xs;
      }
    }
  }
}
