@import '@styles/variables.scss';

.category-management-page {
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-xl;
  }

  .ant-btn-link {
    padding: 0;
    height: auto;
    
    &:hover {
      color: #1890ff;
    }
  }
}