@import '@styles/variables.scss';

.customer-management-page {
  .page-header {
    margin-bottom: $spacing-xl;
  }
  
  .toolbar {
    margin-bottom: $spacing-lg;
    padding: $spacing-lg;
    background: $bg-tertiary;
    border-radius: $radius-lg;
  }
}